<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find virat_gazebo)/launch/world.launch"/>

    <arg name="name" default="virat"/>

    <param name="$(arg name)/tf_prefix" value="$(arg name)"/>
    <group ns="$(arg name)">
        <include file="$(find virat_gazebo)/launch/virat.launch">
            <arg name="y" value="-18"/>
        </include>

        <node name="map_to_odom_transform" pkg="tf" type="static_transform_publisher"
              args="0 0 0 0 0 0 1 /map odom 100"/>

        <node pkg="move_base" type="move_base" name="move_base" output="screen">
            <rosparam command="load" file="$(find mpc_local_planner)/test/move_base.yaml"/>
        </node>

        <node name="poly_view" pkg="virat_msgs" type="poly_view">
            <rosparam command="load" file="$(find mpc_local_planner)/test/poly_view.yaml"/>
        </node>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_local_planner)/test/test.rviz"/>
    </group>
</launch>